/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  
/* Globals */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
}

body {
    font-family: 'Volkhov', serif;
    margin: 3em 0 0 0;
    max-width: 100%;
    position: relative;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

}

li {
  display: inline-block;
  margin-top: 3em;
}




/* Header */

.title-header {
  position: absolute;
  width: 75%;
  left: 50%;
  top: 6%;
  transform: translate(-50%, -50%);
  padding: 5em;
}

.page-header {
  padding-bottom: 25em;
  position: relative;

}

.left-header {
  position: absolute;
  left: 3%;
  width: 5%;
}

.center-header {
  position: absolute;
  width: 8%;
  left: 50%;
  top: 4%;
  transform: translate(-50%, -50%);
}

.nav-bars {
    position: fixed;
    right: 5%;
    background: #000;
    padding: .75em 1em;
    color: #878787;
    z-index: 999;
}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

/* About Content */

.page-section img {
  width: 15%;
}

.page-section {
  position: relative;
  background: #fff;
  text-align: center;
  margin: 0;
  padding: 5em 5em 0 5em;
  z-index: -2;
}

.about-header-left {
  position: absolute;
  left: 2%;
  top: 15%;
  display: inline;
}

.about-header-right {
  position: absolute;
  right: 5%;
  top: 10%;
}

img.about-header-right {
  width: 2.5em;
}

.page-section p {
  padding: 7em;
  font-size: 1.25em;
}

.bg-graphic {
  position: absolute;
  left: 50%;
  top: 54%;
  transform: translate(-50%, -50%);
  z-index: -10;  
}

img.bg-graphic {
  width: 15em;
}

.see-through {
  margin: 0;
  padding:0;
}


/* Product Section */


.recent-work {
  background: #fff;
  padding: 3em 3em 0 3em;
  position: relative;
}

.top-logo {
  position: absolute;
  width: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.works {
  margin: 5em 0;
}

.product-thumb {
    position: relative;
    float: left;
    width: auto;
    margin-top: 1em;
    border: .5em solid white;
}

.product-thumb-2 {
  position: relative;
  float: left;
  width: 50%;
  border: .5em solid white;
}

.product-thumb img {
  position: relative;
  z-index: 998;
}

.product-thumb-2 img {
  position: relative;
  z-index: 998;
}

.product-thumb h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: center;
  color: #000;
  font-size: 2em;
  visibility: hidden;
  font-family: 'Candal', sans-serif;
}

.product-thumb-2 h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  text-align: left;
  color: #000;
  font-size: 2em;
  visibility: hidden;
  font-family: 'Candal', sans-serif;
  line-height: 1em;
  padding-bottom: .25em;

}

.product-thumb:hover h3 {
  font-family: 'Candal', sans-serif;
  text-transform: uppercase;
  color: #000;
  visibility: visible;
  z-index: 999;
  border-bottom: 5px solid #000; 
}

.product-thumb-2:hover h3 {
  font-family: 'Candal', sans-serif;
  text-transform: uppercase;
  color: #000;
  visibility: visible;
  z-index: 999;
  border-bottom: 5px solid #000; 
}

.works a:hover {
  opacity: .50;
  visibility: visible;
  transition: all .5s ease;
}

/* Page footer begins */

.page-footer {
  position: relative;
  background: #fff;
  margin: 0;
  padding: 3em 0;
}

.bottom-left {
  position: absolute;
  left: 3%;
  bottom: 23%;
}

.bottom-right {
  position: absolute;
  right: 3%;
  bottom: 28%;
}

.social-media li {
  padding: 0 .75em;
}

.page-footer img {
    width: 10%;
}

.page-footer {
    text-align: center;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
